{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block head %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{% block title %}
W209 - Wearables</title>
{% endblock %}



<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet"
      href="{{url_for('.static', filename='custom.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">	  



{% endblock %}

{% block body %}


<!-- Main block -->
<main role="main">

<section id="home-intro">
<div class="row justify-content-center">
    <div class="col-6">
		<h1 style="font-weight: bold">Your health data, visualized.</h1>
		<p style="font-size:24px;">It's easier than ever to see your trends for wide range of health metrics. This website provides insights from consolidated Apple Health data so you see your progress in one convenient place.</p>
		<p style="opacity:0.7;"><a class="btn btn-outline-light btn-lg" href="#upload-section" role="button">Try now &raquo;</a></p>
    </div>
  </div>

</section>



<!-- <div class="jumbotron" id="intro-section"> -->
	<!-- <div class="container"> -->
		<!-- <h1 style="font-weight: bold">Your health data, visualized.</h1> -->
		<!-- <p style="font-size:24px;">It's easier than ever to see your trends for wide range of health metrics. This application will display consolidated data from Apple Health so you can view all your progress in one convenient place.</p> -->
		<!-- <p style="opacity:0.7;"><a class="btn btn-outline-dark btn-lg" href="#upload-section" role="button">Try now &raquo;</a></p> -->
	<!-- </div> -->
<!-- </div> -->
<!-- style="text-align: center;padding-bottom: 80px;" -->

<!-- Features/Highlights -->
<div class="home-about" id="overview-section">
	
	<div class="container" style="text-align: center">
	<h2 class="p-4">Overview</h2>
		<div class="row mb-3">
			<div class="col-md-4 themed-grid-col">
			<i class="fas fa-tshirt" style="font-size:60px;color:#1a337d;"></i>
			<h4>History</h4>
			<p>There is a growing consumer preference for connected devices and increasing population of IoT devices available.There are various segments of products such as watches, wristbands, and clothing</p>
			</div>
			<div class="col-md-4 themed-grid-col">
			<i class="fas fa-tachometer-alt" style="font-size:60px;color:#1a337d;"></i>

			<h4>Volume of Data</h4>
			<p>High growth in wearables will be attributed to growing consumer awareness pertaining to personal fitness and health, and increasing demand for wireless health monitoring devices. 
</p>
			</div>
			<div class="col-md-4 themed-grid-col">
			<i class="fas fa-chart-bar" style="font-size:60px;color:#1a337d;"></i>
			<h4>Data Types</h4>
			<p>Wearables technology collect vast amounts of data regarding a user’s health, fitness, and well being. Examples:</p>
			</div>
		</div>
	</div>
</div>




<div class="test1">testslksjtlsekjlssdfsfsd</div>



<div class="jumbotron" id="visualize-section">
	<h2 style="text-align: center;padding-bottom: 80px;">Visualizations</h2>
	<div class="container">
	
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
			<label class="input-group-text" for="vizselection">Options</label>
		  </div>
		  <select class="custom-select" id="vizselection">
			<option selected>Choose...</option>
			<option value="viz1">Heart Rate Vs Walking/Running Distance</option>
			<option value="viz2">Heart Rate Vs Step Count</option>
			<option value="viz3">Basal Energy Burnt Vs Step Count</option>
			<option value="viz4">Basal Energy Burnt Vs Walking/Running Distance</option>
			<option value="viz5">Distance Walked/Run Time Trend</option>
			<option value="viz6">Step Count Time Trend</option>
		  </select>
		</div>

		
		<div id="viz1" class="chart" style="display:none">
			<div class="row">
			  <div class="col-9">
			  <div class="chart1"></div>
			  </div>
			  <div class="col-3">
			  Viz 1 3col
			  </div>
			</div>
		</div>
		<div id="viz2" class="chart"  style="display:none">
			<div class="row">
			  <div class="col-9">
			  <div class="chart2"></div>
			  </div>
			  <div class="col-3">
			  Viz 2 3col
			  </div>
			</div>
		</div>
		<div id="viz3" class="chart"  style="display:none">
			<div class="row">
			  <div class="col-9">
			  <div class="chart3"></div>
			  </div>
			  <div class="col-3">
			  Viz 3 3col
			  </div>
			</div>
		</div>
		<div id="viz4" class="chart"  style="display:none">
			<div class="row">
			  <div class="col-9">
			  <div class="chart4"></div>
			  </div>
			  <div class="col-3">
			  Viz 4 3col
			  </div>
			</div>
		</div>
		<div id="viz5" class="chart"  style="display:none">
			<div class="row">
			  <div class="col-9">
			  <div class="trend1"></div>
			  </div>
			  <div class="col-3">
			  Viz 5 3col
			  </div>
			</div>
		</div>
		<div id="viz6" class="chart"  style="display:none">
			<div class="row">
			  <div class="col-9">
			  <div class="trend2"></div>
			  </div>
			  <div class="col-3">
			  Viz 6 3col
			  </div>
			</div>
		</div>		

	</div>
</div>

<div class="jumbotron" id="upload-section">
	<h2 style="text-align: center;padding-bottom: 80px;">Upload your data</h2>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label for="upload-form">Upload your Apple Health data (.xml)</label>
			<input type="file" class="form-control-file" id="upload-form" name="xml">
		</div>
		<button type="submit" class="btn btn-outline-dark btn-lg btn-block" style="font-weight:bold;opacity:0.7;">Graph My Data</button>
	</form>
</div>

<!-- About the team -->
<div class="jumbotron" id="aboutus-section">
	<h2 style="text-align: center;padding-bottom: 80px;">Contact us</h2>
	<div class="container">
		<div class="row" style="text-align: center">
		      <div class="col-lg-4">
		        <img src="static/cm.jpg" class="rounded-circle" alt="HelPic" width="140" height="140">
		        <h5>Clayton</h5>
		        <p></p>
		        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/clayton-monis-984a26126/" role="button">LinkedIn &raquo;</a></p>
				<p><a class="btn btn-secondary" href="mailto:claytonmonis@ischool.berkeley.edu" role="button">Email &raquo;</a></p>
		      </div><!-- /.col-lg-3 -->
		      <div class="col-lg-4">
		        <img src="static/sd.jpg" class="rounded-circle" alt="HelPic" width="140" height="140">
		        <h5>Sudipto</h5>
		        <p></p>
		        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/sudipto-shankar-dasgupta-80158428/" role="button">LinkedIn &raquo;</a></p>
				<p><a class="btn btn-secondary" href="mailto:sudiptodasgupta@ischool.berkeley.edu" role="button">Email &raquo;</a></p>
		      </div><!-- /.col-lg-3 -->
		      <div class="col-lg-4">
		        <img src="static/hn.jpg" class="rounded-circle" alt="HelPic" width="140" height="140">
		        <h5>Hien</h5>
		        <p></p>
		        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/hien91" role="button">LinkedIn &raquo;</a></p>
				<p><a class="btn btn-secondary" href="mailto:nguyen.hien@berkeley.edu" role="button">Email &raquo;</a></p>
		      </div><!-- /.col-lg-3 -->
		</div><!-- /.row -->
	</div>
</div>




</main>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script>
	$(document).ready(function(){
		$("#vizselection").on('change', function(){
			$(".chart").hide();
			$("#" + $(this).val()).fadeIn(700);
		}).change();
	});
</script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/d3.v4.js"></script> 
<script src="../static/js/app_chart1.js"></script>
<script src="../static/js/app_chart2.js"></script>
<script src="../static/js/app_chart3.js"></script>
<script src="../static/js/app_chart4.js"></script>
<script src="../static/js/app_trend1.js"></script>
<script src="../static/js/app_trend2.js"></script>
{{super()}}
{% endblock %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

{% endblock %}
